extends layout

block content
	h1= title

	form.signupForm(action='/signup' method='post')
		.form-group
			label Email
			input.form-control(type='text' name='email')
		.form-group
			label Password
			input.form-control(type='password' name='password')
		button.submit(type='submit') Sign up

	p Already have an account? 
		a(href='/login') Login
	p Or go 
		a(href='/') home